<a href="https://colab.research.google.com/github/vaibhavk1714/ML-COE/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Alex', 'Joe', 'Charlie', 'Bob'],
    'Age': [25, 30, '35', 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000],
    'Rating': [4.5, '4.7', 4.2, 3.9, np.nan]
}

In [ ]:
df = pd.DataFrame(data)
df.to_csv('sample_data.csv', index = False)

In [ ]:
df = pd.read_csv('sample_data.csv')
print('Original Data\n')
print(df)

Original Data

   ID     Name  Age  Salary  Rating
0   1     John   25   50000     4.5
1   2     Alex   30   60000     4.7
2   3      Joe   35   70000     4.2
3   4  Charlie   40   80000     3.9
4   5      Bob   45   90000     NaN

In [ ]:
df_cleaned = df.dropna()
df_cleaned['Age'] = pd.to_numeric(df_cleaned['Age'])

<ipython-input-21-06a2b42a5ef9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Age'] = pd.to_numeric(df_cleaned['Age'])

In [ ]:
salary_mean = df_cleaned['Salary'].mean()
salary_std = df_cleaned['Salary'].std()
df_cleaned = df_cleaned[(df_cleaned['Salary'] >= salary_mean - 2 * salary_std) & (df_cleaned['Salary'] <= salary_mean + 2 * salary_std)]

In [ ]:
print("\n Cleaned Data")
print(df_cleaned)
df_cleaned.to_csv('Cleaned_data.csv', index = False)

 Cleaned Data
   ID     Name  Age  Salary  Rating
0   1     John   25   50000     4.5
1   2     Alex   30   60000     4.7
2   3      Joe   35   70000     4.2
3   4  Charlie   40   80000     3.9