<a href="https://colab.research.google.com/github/vaibhavk1714/ML-COE/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Writing data into csv using Pandas

In [1]:
import pandas as pd

In [5]:
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Score': [85.5, 92.0, 78.5],
}

In [10]:
df = pd.DataFrame(data)
csv_file_name = 'example_pandas_dataset.csv'
df.to_csv(csv_file_name, index = False)
print(f"Data writtem to '{csv_file_name}")

Data writtem to 'example_pandas_dataset.csv